@media (max-width:1250px) {
    .swiper-pagination {
        left: 100px;
    }
}
@media (max-width:1190px) {
    .container {
        padding: 0 30px;
    }
}
@media (max-width:1135px) {
    .header__menu--link {
        padding: 20px 10px;
    }
}